/* stylelint-disable */
.mktoPrimary.mktoForm input[type="text"],
.mktoPrimary.mktoForm input[type="url"],
.mktoPrimary.mktoForm input[type="email"],
.mktoPrimary.mktoForm input[type="tel"],
.mktoPrimary.mktoForm input[type="number"],
.mktoPrimary.mktoForm input[type="date"],
.mktoPrimary.mktoForm textarea.mktoField,
.mktoPrimary.mktoForm select.mktoField {
  padding-top: 25px !important;
  padding-bottom: 8px !important;
  background-color: transparent !important;
}

.mktoForm a {
  color: inherit;
  text-decoration: underline;
  transition-duration: 200ms;
}

.mktoForm a:hover {
  color: #ff3621;
}

.mktoPrimary.mktoForm select {
  background-color: transparent !important;
}

.ml-1 {
  margin-left: 10px !important;
}

.mb-0\.5 {
  margin-bottom: 5px !important;
}

.formHeadText {
  font-size: 12px !important;
  line-height: 18px;
}

.mktoHtmlText {
  font-size: 10px !important;
  line-height: 15px;
}

.mktoForm .mktoFormCol {
  min-height: auto !important;
}

.mktoForm .mktoFieldDescriptor.mktoFormCol {
  margin-bottom: 5px !important;
}

.mktoButtonRow {
  width: 100%;
  margin-top: 16px !important;
}

.mktoForm .mktoButtonWrap.mktoSimple button.mktoButton {
  width: 100%;
  border-radius: 0 !important;
  background-color: #eb1600;
}

#mktoForm_2462 .mktoFormRow:nth-of-type(7) {
  margin-top: 30px;
  @media (max-width: 480px) {
    margin-top: 40px;
  }
}

.mktoForm .mktoFormCol {
  width: 100%;
}

.mktoErrorArrowWrap {
  display: none;
}

.mktoError {
  position: relative;
  right: 0 !important;
  bottom: -12px !important;
  font-size: 14px;
  width: 100% !important;
}

@media screen and (max-width: 991px) {
  body .mktoError {
    position: inherit !important;
  }
}

.marketoCustom.mktoForm .mktoErrorDetail {
  display: inline-block !important;
}

.mktoErrorMsg {
  color: #ff3621 !important;
  display: block;
  margin-top: inherit !important;
  background-color: inherit !important;
  background-image: inherit !important;
  background-image: inherit !important;
  background-image: inherit !important;
  background-image: inherit !important;
  border: inherit !important;
  -webkit-border-radius: inherit !important;
  border-radius: inherit !important;
  -webkit-box-shadow: inherit !important;
  box-shadow: inherit !important;
  font-size: 10px !important;
  line-height: inherit !important;
  max-width: inherit !important;
  padding: inherit !important;
  text-shadow: inherit !important;
}

.marketoCustom.mktoForm input[type="text"] + .mktoError::before,
.marketoCustom.mktoForm input[type="email"] + .mktoError::before,
.marketoCustom.mktoForm input[type="tel"] + .mktoError::before,
.marketoCustom.mktoForm select + .mktoError::before {
  content: "*";
  color: #ff3621;
  float: left;
  padding-right: 5px;
}

.marketoCustom.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  background-color: #eb1600 !important;
  border: 1px solid #eb1600 !important;
  border-radius: 0;
  width: 100%;
  /* min-width: 100%; */
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-image: none !important;
  margin-left: 0px !important;
}

.mktoButtonRow {
  width: 100%;
}

.mktoHtmlText {
  font-size: 10px !important;
  font-family: "DM Sans", sans-serif;
  color: #1b5162;
  width: 100% !important;
}
.mktoHtmlText a {
  color: #1b5162 !important;
  text-decoration: underline;
}

.marketoCustom.mktoForm .mktoRequiredField .mktoAsterix {
  float: none !important;
  display: inline-block;
  color: #ff3621;
}

.marketoCustom.mktoForm.mktoPrimary #Country {
  border: none !important;
  border-bottom: 1px solid #618794 !important;
  background: transparent;
  width: 100% !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  padding: 0.875em 2.5em !important;
  width: auto !important;
}

.mktoForm .mktoFieldWrap {
  width: 100% !important;
}

.mktoForm .mktoOffset {
  height: 0 !important;
  float: left !important;
}

.mktoButtonWrap.mktoSimple {
  margin-left: 0 !important;
}

#Lblmkto_form_consent {
  float: right;
  width: 85% !important;
}

.mktoForm .mktoCheckboxList {
  width: 20px !important;
}

.mktoSecondary {
  font-size: 16px !important;
  line-height: 24px !important;
  color: #1b5162 !important;
  font-family: "DM Sans", sans-serif !important;
  width: 100% !important;
}
.mktoForm .mktoFormCol {
  width: 100%;
}
.formHeadText {
  font-size: 12px !important;
}

.mktoPrimary #LblEmail,
.mktoPrimary #LblCountry {
  font-size: 16px;
  font-weight: normal !important;
}

.mktoSecondary.marketoCustom.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  background-color: #eb1600 !important;
  border: 1px solid #eb1600 !important;
  border-radius: 0;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-image: none !important;
  margin-left: 0px !important;
}

.mktoSecondary [type="checkbox"] ~ label {
  font-size: 12px !important;
}

.mktoButtonRow {
  width: 100%;
}

.mktoHtmlText {
  font-size: 10px !important;
  font-family: "DM Sans", sans-serif;
  color: #1b5162;
  width: 100% !important;
}
.mktoHtmlText a {
  color: #1b5162 !important;
  text-decoration: underline;
  transition-duration: 200ms;
}
.marketoCustom.mktoForm.mktoPrimary #Email {
  padding: 5px !important;
  border: none !important;
  border-bottom: 1px solid #618794 !important;
  background: transparent;
}

.marketoCustom.mktoForm .mktoRequiredField .mktoAsterix {
  float: none !important;
  display: inline-block;
  color: #ff3621;
}

.marketoCustom.mktoForm.mktoPrimary #Country {
  border: none !important;
  border-bottom: 1px solid #618794 !important;
  background: transparent;
  width: 100% !important;
}

.marketoCustom.mktoForm.mktoSecondary input:not(.appearance-none) {
  width: 100% !important;
  border: 1px solid #e0e0e0 !important;
  font-size: 16px !important;
  height: auto !important;
  padding: 6px 14px !important;
  margin-bottom: 10px;
}

.mktoSecondary.mktoForm .mktoLabel {
  padding-top: 0;
  line-height: 24px;
}
.marketoCustom.mktoForm.mktoSecondary label.mktoLabel {
  font-weight: normal;
  width: 100% !important;
}

.mktoSecondary.mktoForm .mktoLabel {
  padding-top: 0;
  line-height: 24px;
}

.mktoSecondary select {
  width: 100% !important;
  border: 1px solid #e0e0e0 !important;
  margin-bottom: 10px;
  padding: 7px !important;
  appearance: none;
  background-image: url("./lines_arrow.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 14px;
  margin-bottom: 10px !important;
}

#mktoForm_1007 {
  padding: 0px !important;
}

.mktoCompanyContact select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  width: 100% !important;
  background-image: url("./lines_arrow.svg");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 14px;
  font-size: 16px !important;
  padding-right: 30px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mktoCompanyContact input {
  border-radius: 0;
}

.mktoSecondary select option {
  font-size: 16px !important;
  background: #ffffff;
}

.mktoForm .mktoFieldWrap {
  width: 100% !important;
}

.mktoForm .mktoOffset {
  height: 0 !important;
  float: left !important;
}

.mktoButtonWrap.mktoSimple {
  margin-left: 0 !important;
}

#Lblmkto_form_consent {
  float: right;
  width: 85% !important;
}

#mktoForm_2462.mktoForm {
  padding: 0 !important;

  * {
    padding: 0 !important;
  }

  select,
  input[type="text"] {
    padding-top: 25px !important;
    padding-bottom: 8px !important;
  }

  input[type="text"] {
    height: 3rem !important;
    font-size: 12px !important;
  }

  button[type="submit"] {
    padding: 10px 0 !important;
  }

  @media (max-width: 480px) {
    select {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}

/* Supercenter */
label[for='Unsubscribed-react']:first-child {
  margin-top: 16px !important;
  padding-top: 26px !important;
  border-top: 1px dashed #618794;
}

#mktoForm_3707 .mktoGutter.mktoHasWidth,
#mktoForm_3717 .mktoGutter.mktoHasWidth,
#mktoForm_1794 .mktoGutter.mktoHasWidth,
#mktoForm_5824 .mktoGutter.mktoHasWidth {
  display: none;
}

/* Company Contact */
.form-companyContact .marketo-inner-wrapper {
  width: 100%;
}

.form-companyContact .mktoForm label[for="mkto_form_consent-react"] {
  display: none;
}

.form-companyContact .mktoFieldWrap {
  .mktoClear {
    height: 10px;
  }

  label.mktoLabel {
    font-weight: normal !important;
    width: 100% !important;
    padding: 0.5em 0 0.5em 0;
    color: #1b5162;

    strong {
      font-weight: normal !important;
    }
  }

  #mktocontactreason, .mktoLabel {
    position: relative;
    z-index: 10;
  }

  .mktoError {
    position: relative;
    pointer-events: none;
    z-index: 10;
    margin-top: 10px;
  }

  input[type="text"],
  input[type="url"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="date"] {
    width: 100% !important;
    background-color: transparent;
    border-bottom: 1px solid #618794;
    outline: none;
    &.mktoInvalid {
      border-bottom: 1px solid #ff3621;
    }
  }

  select {
    width: 100% !important;
    background-color: transparent;
    border-bottom: 1px solid #618794;
    padding-bottom: 8px !important;
    outline: none;
    &.mktoInvalid {
      border-bottom: 1px solid #ff3621;
    }
  }

  textarea.mktoField {
    border: 1px solid #618794;
    width: 100% !important;
    min-height: 125px;
    padding: .5rem;
    background-color: #ffffff;
  }
}

.general-page-company-contact .component-columns div.flex > div:nth-child(2) {
  @media (max-width: 768px) {
    background: #FFFFFF;
    width: 100%;
    padding: 40px 20px !important;
  }
}

.general-page-company-contact .component-columns {
  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;
  }
}

/* Subscription Center */

.mktoSubscription.mktoForm {
  width: 100% !important;
  padding: 16px !important;

  @media (min-width: 768px) {
    padding: 0 !important;
  }

  .mktoHtmlText {
    color: #1B3139;
  }
  svg {
    padding: 0 !important;
  }
  a {
    padding: 0 !important;
    color: #ff3621 !important;
    text-decoration: none !important;
    &:hover {
       text-decoration: underline !important;
       color: #BD2B26 !important;
    }
  }

  h2 {
    padding: 0px !important;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 6px;
    /* only one */
    margin-top: 24px;

    @media (min-width: 768px) {
      font-size: 29px;
      line-height: 40px;
    }
  }

  .mktoFormRow:nth-child(n+1):nth-child(-n+3) h2 {
    margin-bottom: 10px;
    margin-top: 0;
  }

  @media (min-width: 768px) {
    .mktoFormRow {
      display: flex;
    }

    .mktoFormCol:first-of-type {
      margin-right: 32px;
    }
  }

  .mktoError {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }

  .mktoFormRow .mktoAsterix {
    display: none !important;
  }

  .mktoFieldDescriptor.mktoFormCol {
    margin-bottom: 0px !important;
  }

  .mktoButtonRow {
    margin-top: 6px !important;
  }

  .mktoButtonWrap.mktoSimple .mktoButton {
    padding: 10px 29px !important;
  }

  .flex.flex-row {
    align-items: center;
    label {
      margin-left: 18px !important;
    }
  }
}

@media only screen and (max-width: 480px) {
  #mktoForm_4648 *:not(button, select, input) {
    padding: 0 !important;
    } 
}

#mktoForm_4648 > div:nth-child(10) {
  display: flex;
  margin-top: 10px;
  padding: 0 !important;
  .mktoHtmlText {
    font-size: 12px !important;

  }
  div.mktoFieldDescriptor.mktoFormCol {
    width: auto;
  }
}

#mktoForm_3707 .mktoFormRow:nth-child(n+3):nth-child(-n+5),
#mktoForm_3717 .mktoFormRow:nth-child(n+3):nth-child(-n+3) {
  .mktoFieldDescriptor.mktoFormCol {
    @media (min-width: 768px) {
      max-width: 50%;
    }
  }

  input, select {
    margin-bottom: 16px !important;
    width: 100% !important;
    border: 1px solid #DCE0E2;
    padding: 8px !important;
    font-size: 14px !important;
    line-height: 20px !important;
    height: auto !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    border-radius: 0;

    &.mktoInvalid {
      border-color: #FF5F46;
    }
  }

  [id="LblCountry"] {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 12px;
      height: 6px;
      right: 10px;
      bottom: -22px;
      background-image: url(./subscription_arrow.svg);
    }
  }

  label {
    width: 100% !important;
    font-weight: normal;
    line-height: 25px;
    padding-top: 0;
    padding-bottom: 2px;
    &::after {
      content: ' *';
      color: #FF5F46;
    }
  }
}


#mktoForm_3707.mktoSubscription .mktoFormRow:nth-child(n+7):nth-child(-n+14),
#mktoForm_3717.mktoSubscription .mktoFormRow:nth-child(n+5):nth-child(-n+14) {
  label {
    font-size: 16px !important;
    line-height: 25px !important;
    font-weight: 700;
  }

  input {
    padding: 0 !important;
  }

  .mktoHtmlText.mktoHasWidth{
    padding-left: 36px;
    padding-bottom: 16px;
  }
}

#mktoForm_3707.mktoSubscription .mktoFormRow:nth-child(n+7):nth-child(-n+30)  .mktoHtmlText.mktoHasWidth,
#mktoForm_3717.mktoSubscription .mktoFormRow:nth-child(n+5):nth-child(-n+30)  .mktoHtmlText.mktoHasWidth {
  font-size: 14px !important;
  line-height: 20px !important;
}

#mktoForm_3717 label[for='Unsubscribed-react']:first-child {
  padding-top: 30px !important;
  margin-top: 0 !important;
  border-top: none !important;
  font-weight: bold;
}

#mktoForm_4651 {
  textarea {
    width: 100% !important;
    resize: vertical;
    rows: 4;
    margin-bottom: 20px;
    + .mktoError {
      bottom: -4px !important;
    }
  }
}

#mktoForm_6452 {
  .mktoAsterix {
    display: none;
  }
  .mktoGutter {
    height: 5px;
  }
  .mktoButtonWrap {
    margin-left: 0 !important;
  }
  button.mktoButton {
    background-color: #eb1600;
    width: 100%;
    color: #ffffff;
    padding: 10px 0;
    font-size: 17px;
  }
  button.mktoButton:hover {
    background-color: #bd2b26;
  }
}
