.content-graphic {
  width: 95%;
  height: 100%;
}

.hexagonal-graphic {
  transform-origin: center;
  animation: rotate 1s linear 100ms;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
